.patientF {
  background: url("/public/images/heart_login.jpg") center center/cover
    no-repeat;
}

.p-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-title {
  text-align: center;
  font-size: 1.5em;
  color: #000000;
  margin-bottom: 20px;
}

.patient-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: bold;
  color: #adadc6;
  margin-bottom: 5px;
}

input,
select {
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ced4da;
  border-radius: 5px;
  background-color: #e9ecef;
  color: #000000;
}

input:focus,
select:focus {
  outline: none;
  border-color: #82540f;
  background-color: #fff;
}

.submit-group {
  grid-column: span 2;
  text-align: center;
}

.submit-button {
  padding: 10px 20px;
  font-size: 1em;
  color: #fff;
  background-color: #82540f;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #932c22;
}

@media (max-width: 768px) {
  .patient-form {
    grid-template-columns: 1fr;
  }

  .submit-group {
    grid-column: span 1;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  position: relative;
}

.green-theme .modal-content {
  background-color: #d4edda;
  color: #155724;
}

.red-theme .modal-content {
  background-color: #f8d7da;
  color: #721c24;
}

.close-button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.close-button:hover {
  background-color: #0056b3;
}
